@use 'variaveis';

.casting {
    padding-top: 75px;

    &__container {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        h2 {
            margin: 36px 0;
        }
    }

    &__gallery {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;

            &__item {
                list-style: none;

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                h3 {
                    margin: 8px 0;
                }
            }
        }
    }
}