@use 'variaveis';

.casting {
    padding: 2vw 5.6vw;

    &__content {
        margin: 0 auto;
        text-align: center;

        h2 {
            margin: 36px 0;
        }
    }

    &__gallery {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;

            &__item {
                list-style: none;

                img {
                    width: 80%;
                    border-radius: 10px;
                }

                h3 {
                    margin: 8px 0;
                }
            }
        }
    }
}