@use 'variaveis';

.highlights {
    padding: 2vw 5.6vw;

    &__content {
        margin: 0 auto;
        text-align: center;

        h2 {
            margin: 36px 0;
        }
    }

    &__gallery {
        display: flex;
        justify-content: center;
        
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

            &__item {
                list-style: none;

                img {
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}